body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u589 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u590 {
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:107px;
}
#u591 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u592 {
  position:absolute;
  left:0px;
  top:106px;
  width:28px;
  height:1px;
}
#u593 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u594 {
  position:absolute;
  left:0px;
  top:106px;
  width:28px;
  height:1px;
}
#u595 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u596 {
  position:absolute;
  left:0px;
  top:107px;
  width:28px;
  height:664px;
}
#u597 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u598 {
  position:absolute;
  left:0px;
  top:771px;
  width:28px;
  height:109px;
}
#u599 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:107px;
}
#u600 {
  position:absolute;
  left:28px;
  top:-1px;
  width:374px;
  height:107px;
}
#u601 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:1px;
}
#u602 {
  position:absolute;
  left:28px;
  top:106px;
  width:374px;
  height:1px;
}
#u603 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u604 {
  position:absolute;
  left:402px;
  top:-1px;
  width:28px;
  height:107px;
}
#u605 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u606 {
  position:absolute;
  left:402px;
  top:106px;
  width:28px;
  height:1px;
}
#u607 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:1px;
}
#u608 {
  position:absolute;
  left:28px;
  top:106px;
  width:374px;
  height:1px;
}
#u609 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:109px;
}
#u610 {
  position:absolute;
  left:28px;
  top:771px;
  width:374px;
  height:109px;
}
#u611 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u612 {
  position:absolute;
  left:402px;
  top:106px;
  width:28px;
  height:1px;
}
#u613 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u614 {
  position:absolute;
  left:402px;
  top:107px;
  width:28px;
  height:664px;
}
#u615 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u616 {
  position:absolute;
  left:402px;
  top:771px;
  width:28px;
  height:109px;
}
#u617 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:666px;
}
#u618 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:666px;
}
#u619 {
  position:absolute;
  left:2px;
  top:325px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:99px;
}
#u620 {
  position:absolute;
  left:-15px;
  top:107px;
  width:171px;
  height:99px;
}
#u621 {
  position:absolute;
  left:2px;
  top:42px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-align:center;
}
#u622 {
  position:absolute;
  left:71px;
  top:167px;
  width:289px;
  height:51px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-align:center;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:191px;
}
#u624 {
  position:absolute;
  left:83px;
  top:255px;
  width:264px;
  height:181px;
}
#u625 {
  position:absolute;
  left:2px;
  top:82px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:191px;
}
#u626 {
  position:absolute;
  left:83px;
  top:505px;
  width:264px;
  height:181px;
}
#u627 {
  position:absolute;
  left:2px;
  top:82px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
