body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:869px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u349 {
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:107px;
}
#u350 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u351 {
  position:absolute;
  left:0px;
  top:106px;
  width:28px;
  height:1px;
}
#u352 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u353 {
  position:absolute;
  left:0px;
  top:106px;
  width:28px;
  height:1px;
}
#u354 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u355 {
  position:absolute;
  left:0px;
  top:107px;
  width:28px;
  height:664px;
}
#u356 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u357 {
  position:absolute;
  left:0px;
  top:771px;
  width:28px;
  height:109px;
}
#u358 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:107px;
}
#u359 {
  position:absolute;
  left:28px;
  top:-1px;
  width:374px;
  height:107px;
}
#u360 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:1px;
}
#u361 {
  position:absolute;
  left:28px;
  top:106px;
  width:374px;
  height:1px;
}
#u362 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u363 {
  position:absolute;
  left:402px;
  top:-1px;
  width:28px;
  height:107px;
}
#u364 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u365 {
  position:absolute;
  left:402px;
  top:106px;
  width:28px;
  height:1px;
}
#u366 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:1px;
}
#u367 {
  position:absolute;
  left:28px;
  top:106px;
  width:374px;
  height:1px;
}
#u368 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:109px;
}
#u369 {
  position:absolute;
  left:28px;
  top:771px;
  width:374px;
  height:109px;
}
#u370 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u371 {
  position:absolute;
  left:402px;
  top:106px;
  width:28px;
  height:1px;
}
#u372 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u373 {
  position:absolute;
  left:402px;
  top:107px;
  width:28px;
  height:664px;
}
#u374 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u375 {
  position:absolute;
  left:402px;
  top:771px;
  width:28px;
  height:109px;
}
#u376 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:666px;
}
#u377 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:666px;
}
#u378 {
  position:absolute;
  left:2px;
  top:325px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:232px;
}
#u379 {
  position:absolute;
  left:54px;
  top:317px;
  width:323px;
  height:222px;
}
#u380 {
  position:absolute;
  left:2px;
  top:103px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
}
#u381 {
  position:absolute;
  left:151px;
  top:134px;
  width:129px;
  height:45px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:99px;
}
#u383 {
  position:absolute;
  left:0px;
  top:107px;
  width:171px;
  height:99px;
}
#u384 {
  position:absolute;
  left:2px;
  top:42px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:77px;
  background:inherit;
  background-color:rgba(102, 204, 102, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u385 {
  position:absolute;
  left:129px;
  top:570px;
  width:173px;
  height:77px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u386 {
  position:absolute;
  left:2px;
  top:18px;
  width:169px;
  word-wrap:break-word;
}
#u387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:77px;
  background:inherit;
  background-color:rgba(102, 204, 102, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u387 {
  position:absolute;
  left:129px;
  top:664px;
  width:173px;
  height:77px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u388 {
  position:absolute;
  left:2px;
  top:18px;
  width:169px;
  word-wrap:break-word;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:465px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u390 {
  position:absolute;
  left:497px;
  top:60px;
  width:372px;
  height:465px;
}
#u391 {
  position:absolute;
  left:2px;
  top:224px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u392 {
  position:absolute;
  left:512px;
  top:68px;
  width:129px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  position:absolute;
  left:513px;
  top:145px;
  width:346px;
  height:104px;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
