body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:869px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u287 {
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:107px;
}
#u288 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u289 {
  position:absolute;
  left:0px;
  top:106px;
  width:28px;
  height:1px;
}
#u290 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u291 {
  position:absolute;
  left:0px;
  top:106px;
  width:28px;
  height:1px;
}
#u292 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u293 {
  position:absolute;
  left:0px;
  top:107px;
  width:28px;
  height:664px;
}
#u294 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u295 {
  position:absolute;
  left:0px;
  top:771px;
  width:28px;
  height:109px;
}
#u296 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:107px;
}
#u297 {
  position:absolute;
  left:28px;
  top:-1px;
  width:374px;
  height:107px;
}
#u298 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:1px;
}
#u299 {
  position:absolute;
  left:28px;
  top:106px;
  width:374px;
  height:1px;
}
#u300 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u301 {
  position:absolute;
  left:402px;
  top:-1px;
  width:28px;
  height:107px;
}
#u302 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u303 {
  position:absolute;
  left:402px;
  top:106px;
  width:28px;
  height:1px;
}
#u304 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:1px;
}
#u305 {
  position:absolute;
  left:28px;
  top:106px;
  width:374px;
  height:1px;
}
#u306 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:109px;
}
#u307 {
  position:absolute;
  left:28px;
  top:771px;
  width:374px;
  height:109px;
}
#u308 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1px;
}
#u309 {
  position:absolute;
  left:402px;
  top:106px;
  width:28px;
  height:1px;
}
#u310 {
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u311 {
  position:absolute;
  left:402px;
  top:107px;
  width:28px;
  height:664px;
}
#u312 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u313 {
  position:absolute;
  left:402px;
  top:771px;
  width:28px;
  height:109px;
}
#u314 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:666px;
}
#u315 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:666px;
}
#u316 {
  position:absolute;
  left:2px;
  top:325px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317 {
  position:absolute;
  left:28px;
  top:107px;
  width:374px;
  height:666px;
  overflow:hidden;
}
#u317_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:666px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u317_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:99px;
}
#u318 {
  position:absolute;
  left:-44px;
  top:-14px;
  width:171px;
  height:99px;
}
#u319 {
  position:absolute;
  left:2px;
  top:42px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:601px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u320 {
  position:absolute;
  left:17px;
  top:215px;
  width:338px;
  height:601px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u321 {
  position:absolute;
  left:2px;
  top:292px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u323 {
  position:absolute;
  left:17px;
  top:76px;
  width:338px;
  height:118px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u324 {
  position:absolute;
  left:2px;
  top:51px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:93px;
}
#u325 {
  position:absolute;
  left:35px;
  top:89px;
  width:135px;
  height:93px;
}
#u326 {
  position:absolute;
  left:2px;
  top:38px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u327 {
  position:absolute;
  left:194px;
  top:102px;
  width:114px;
  height:28px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u329 {
  position:absolute;
  left:114px;
  top:11px;
  width:145px;
  height:50px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u331 {
  position:absolute;
  left:35px;
  top:236px;
  width:305px;
  height:550px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u332 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 216, 253, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334 {
  position:absolute;
  left:180px;
  top:148px;
  width:116px;
  height:21px;
}
#u335 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u336 {
  position:absolute;
  left:180px;
  top:148px;
  width:116px;
  height:21px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u337 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:85px;
}
#u338 {
  position:absolute;
  left:291px;
  top:120px;
  width:64px;
  height:85px;
}
#u339 {
  position:absolute;
  left:2px;
  top:34px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:465px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u341 {
  position:absolute;
  left:497px;
  top:60px;
  width:372px;
  height:465px;
}
#u342 {
  position:absolute;
  left:2px;
  top:224px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u343 {
  position:absolute;
  left:512px;
  top:68px;
  width:193px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u344 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u345 {
  position:absolute;
  left:513px;
  top:145px;
  width:346px;
  height:144px;
}
#u346 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
